:root {
  --accent: hsl(153, 71%, 59%);
  --transition: 300ms ease-in-out;
}

html {
  box-sizing: border-box;
  font-size: 100%;
  height: 100vh;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: hsl(0, 0%, 11%);
  font-family: "Space Grotesk", sans-serif;

  color: hsl(0, 0%, 100%);
}

body,
input,
label,
button,
p,
h1,
h2 {
  font-family: "Space Grotesk", sans-serif;
  margin: 0;
}

.underline {
  transition: color var(--transition);
  background-image: linear-gradient(
    to right,
    var(--accent) 75%,
    var(--accent) 75%
  );
  background-position: 0 1.1em;
  background-repeat: repeat-x;
  background-size: 8px 4px;
}
.calculator__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator {
  width: 450px;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(32, 32, 32, 0.929);
  /* background-color: white; */
  border: 2px solid hsl(0, 0%, 20%);
  border-radius: 10px;
}

.title__wrapper {
  user-select: none;
  padding: 20px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.calculator__image {
  width: 35px;
  height: 35px;
}
.calculator__type {
  display: flex;
  align-items: center;
  gap: 15px;
}
.type__text {
  font-weight: 600;
  font-size: 20px;
}

.output__wrapper {
  user-select: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 10px 30px;
  height: 20%;
  box-shadow: 0px 13px 13px -5px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.calculator__output {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-weight: bold;
  font-size: 36px;
}
.calculator__history {
  font-weight: bold;
  color: var(--accent);
  font-size: 24px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.keys__wrapper {
  user-select: none;
  flex: auto;
  display: flex;
  flex-direction: column;
}
.calculator__keys {
  padding: 20px;
  flex: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 15px;
}
.calculator__key {
  box-shadow: rgba(51, 51, 51, 0.5) -9px -3px 20px -7px,
    rgb(22, 22, 22) 17px 15px 20px 3px;
  color: rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  border: 1px solid rgba(51, 51, 51, 0.5);
  padding: 0;
  font-size: 40px;
  font-weight: bold;
}
#key__equals {
  grid-column: span 2;
  color: var(--accent);
}
.clicked {
  color: var(--accent);
  transition: color var(--transition);
  background-color: rgba(0, 0, 0, 0.9);
}

/* ------footer------ */
.copyright__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
}
.copyright {
  font-size: 18px;
  margin-block: 5px;
}
.fa-github:before {
  color: white;
  font-size: 24px;
}
